@import url('./views/simplex-method-view.css');
@import url('lumo-css-framework/all-classes.css');    html {
      --lumo-primary-color: hsl(111, 11%, 41%);
      --lumo-error-color: hsl(3, 52%, 35%);
      --lumo-size-xl: 4rem;
      --lumo-size-l: 3rem;
      --lumo-size-m: 2.5rem;
      --lumo-size-s: 2rem;
      --lumo-size-xs: 1.75rem;

    }
